<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: center;
        }

        .flex-item2 {
            width: 250px;
            height: 800px;
            background-color: coral;
            font-size: 2em;
            font-weight: bold;
            padding: 10px;
            margin: 10px;
        }

        .flex-item {
            width: 250px;
            height: 800px;
            background-color: coral;
            font-size: 2em;
            font-weight: bold;
            padding: 10px;
            margin: 10px;
        }

        input[type=submit] {
            color: white;
            background-color: green;
            padding: 16px 32px;
            margin: 20px;
            cursor: pointer;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 60%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="container">
        <div class="flex-item" id="flex-item1">
            <img src="C:\Users\SATPREET\Pictures\SIGN.jpg" class='center'>
            <h2>Seamlessly visualize quality</h1>
                <p>this is why u want to read this paragraph. For more information click on the button below</p>
                <input type='submit' value="Here's why">
        </div>
        <div class="flex-item2" id="flex-item2">
            <img src="C:\Users\SATPREET\Pictures\NESWONE.png" class='center'>
            <h2>Completely synergize</h1>
                <p>this is a very good paragraph if u will read this definetely u will get success. For more information
                    visit
                    this page clicking on the button below</p>
                <input type='submit' value="check this">
        </div>
        <div class="flex-item2" id="flex-item2">
            <img src="C:\Users\SATPREET\Pictures\newsone.png" class='center'>
            <h2>Dynamically Procastinate</h1>
                <p>i am a programmer and i want to be a web developer. if you want to know how to become a web developer
                    get more information using below
                    link</p>
                <input type='submit' value="Read more">
        </div>
    </div>
    
</html>